.footer{
    
    color: #d3d3d3;
    width:100%;
    margin:0px;
    padding-bottom: 0;
    
}

.footer-logo
{   
    
    height: 200px;
    width: 200px;
}
.about h1 span{
    color : #ff3333;
    font-size: 1.1em;
    margin-bottom: 8px;
    
}



 .socials a {
    border : 1px solid black;
    width: 45px;
    color: black;
    height: 41px;
    padding-top: 5px;
    margin-top: 30px;
    /* margin-right: 5px;  */
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

a{ 
    text-align: left;
    display: block;
    margin-bottom:5px ;
    font-size: 1.2em;
    color: white;
    transition: all .3s;
    margin-left: 20px;
}




.footer-content .links ul a :hover{

    color: white;
    transition: all .3s;
    
}
a:hover{

    color: white;
    transition: all .3s;
    
}
.socials a:hover{
    border: 1px solid white;
    color:white;
    transition: all .3s;
}
.contact span{
    display: block;
}

.footer-distributed{
   
    width: 100%;
    padding: 50px 50px 60px 50px;
  
    
}
/* FOR BACKGROUND */
.bg-1{
   
    background-image: url(../../assets/footer/footer-bg.png); 
  
    background-repeat: no-repeat;
    padding-top: 100px;
   
    margin-bottom: 0px;
    background-position: bottom; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
