<!-- Footer For Medium devices -->
<div class="footer bg-1 d-md-block">
    <div class="footer-content footer-distributed">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section about">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-section links " style="text-align: center;">
                        <img class="footer-logo" src="../../assets/header/akh-logo.png" alt="">
                        <br>
                        <div class="socials">
                            <a href="https://www.facebook.com/111547570482438/posts/111549907148871/?substory_index=0&app=fbl"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/amhikhadad/"><i class="fab fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                            <!-- <a href="#"><i class="fab fa-github"></i></a> -->
                            <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                            <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->

                        </div>
                        <h6 class="footer-company-name">&copy; 2020 Amhi Khadad Pvt. Ltd. All Rights Reserved</h6>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>
