<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6 col-sm-10 col-xs-10 ">
            <img class="food-image" src=".././../assets/about-us/food-image-2.jpg" alt="">
        </div>
        <div class="col-md-6 col-sm-10 col-xs-10 text-area">
            <h1>
                Welcome!
खाताय ना ? खाल्लच पाहिजे !
कारण लोकं जगण्यासाठी खातात आणि आम्ही खाण्यासाठी जगतो😎
            </h1>
           
        </div>
    </div>
    
    <br>
    <br>
    <hr>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6 col-sm-10 col-xs-10">
            <img class="food-image" src=".././../assets/about-us/food-image.jpg" alt="">
        </div>

        <div class="col-md-6 col-sm-10 col-xs-10 text-area-2">
            <h5>
                <h1>
                    What is आम्ही खादाड ?
                </h1>

                This page features food blogs and reviews that share delicious information.
                Food is just not different around the world but also around the streets of  Pune.
                Food is something that connects us all , and for us food is the best way to connect
                and have the best cultural experience of Pune. 
                Then if you're a hungryhead then we suggest to follow us on Instagram @amhikhadad right now so that you don't miss out on all the fun.
                            </h5>
        </div>
    </div>
</div>