<div class="title-main">
    <h3 >Our Members</h3>
</div>

<br>
<hr>
<br>
<h4 class="title">
    Advertising And Management
</h4>
<br>
<hr>
<br>
<div class="container">
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/shraddha.png">
        </div>
        <div class="content">
            <h2>Shradha Gaikwad</h2>
            <a href="https://www.instagram.com/_shradha_gaikwad_/"><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
        </div>
    </div>
   
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/priyesh.png">
        </div>
        <div class="content">
            <h2>Priyesh Surve</h2>
            <a href="https://www.instagram.com/priyesh_surve_96k/"><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
        </div>
    </div>
     
</div>

<br>
<hr>
<br>


<h4 class="title">
    Editors
</h4>
<br>
<hr>
<br>
<div class="container">
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/raj.png">
        </div>
        <div class="content">
            <h2>Raj Kaste</h2>
            <a href="https://www.instagram.com/rajkaste/"><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
        </div>
    </div>   
</div>


<br>
<hr>
<br>
<h4 class="title">
    Photography
</h4>
<br>
<hr>
<br>
<div class="container">
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/harish.jpeg">
        </div>
        <div class="content">
            <h2>Harish Pandilla</h2>
           <a href="https://www.instagram.com/harishpandilla/"><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/Ankit.jpeg">
        </div>
        <div class="content">
            <h2>Ankit Sharma</h2>
            <a href=""><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
       
        </div>
    </div>
</div>

<br>
<hr>
<br>

<h4 class="title">
    Technical & Development
</h4>
<br>
<hr>
<br>
<div class="container">
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/about-us/arun.png">
        </div>
        <div class="content">
            <h2>Arun Mopare</h2>
            <a href="https://www.instagram.com/arun.l._.l/"><i class="fa fa-instagram" style="font-size:50px;color:white"></i></a>
        </div>
    </div>
       
</div>
